@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap');


.nav-link{
    font-family: "Montserrat", sans-serif;
    color: #fff;
    position: relative;
    right: 55px;
    top: 2px;
}